<div *ngFor="let question of dataSource">

  <mat-label>{{question.id}} {{question.description}}</mat-label>
  <div>
    <mat-button-toggle-group name="question.id">
      <mat-button-toggle (click)="check(question)"
        [checked]="question.isAnswered && question.isChecked">Hoşlanırım</mat-button-toggle>
      <mat-button-toggle (click)="uncheck(question)"
        [checked]="question.isAnswered && !question.isChecked">Hoşlanmam</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>

<mat-paginator [length]="questions.length" [pageSize]="10" (page)="onPageChange($event)"></mat-paginator>
<button mat-button color="primary" (click)="checkState()">Kaydet</button>

<div *ngIf="showPie">
  <ngx-charts-pie-chart [view]="view" [results]="single" [gradient]="gradient" [legend]="showLegend"
    [labels]="showLabels" [doughnut]="isDoughnut">
  </ngx-charts-pie-chart>
</div>