<div *ngFor="let question of dataSource">

  <mat-label>{{question.id}} {{question.description}}</mat-label>
  <div>
    <mat-button-toggle-group name="question.id">
      <mat-button-toggle (click)="check(question)"
        [checked]="question.isAnswered && question.isChecked">Hoşlanırım</mat-button-toggle>
      <mat-button-toggle (click)="uncheck(question)"
        [checked]="question.isAnswered && !question.isChecked">Hoşlanmam</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>

<mat-paginator [length]="questions.length" [pageSize]="10" (page)="onPageChange($event)"></mat-paginator>
<button mat-button color="primary" (click)="checkState()">Kaydet</button>

<div *ngIf="showPie">
  <ngx-charts-pie-chart [view]="view" [results]="single" [gradient]="gradient" [legend]="showLegend"
    [labels]="showLabels" [doughnut]="isDoughnut">
  </ngx-charts-pie-chart>

  <button mat-button color="primary" (click)="listJobs()">Jobs</button>
  <div *ngIf="showJobs">
    <table mat-table [dataSource]="jobs" class="mat-elevation-z8">
      
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!--Score Column -->
      <ng-container matColumnDef="score">
        <th mat-header-cell *matHeaderCellDef> Score </th>
        <td mat-cell *matCellDef="let element"> {{element.score | number : '1.2-2' }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="jobColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: jobColumns;"></tr>

    </table>
  </div>
</div>